[Unit]
Description=Option 6 Chat Bot
After=network-online.target

[Service]
User=option6
WorkingDirectory=/opt/option6
ExecStart=/opt/option6/.venv/bin/python -m option6 /opt/option6/keys.json

[Install]
WantedBy=multi-user.target
